@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));
:root {
  --background: rgb(248 248 248);
  --foreground: rgb(31 31 31);
  --card: rgb(252 252 252);
  --card-foreground: rgb(31 31 31);
  --popover: rgb(252 252 252);
  --popover-foreground: rgb(31 31 31);
  --primary: rgb(99 73 63);
  --primary-foreground: rgb(255 255 255);
  --secondary: rgb(255 223 177);
  --secondary-foreground: rgb(89 45 28);
  --muted: rgb(238 238 238);
  --muted-foreground: rgb(99 99 99);
  --accent: rgb(232 232 232);
  --accent-foreground: rgb(31 31 31);
  --destructive: rgb(229 80 50);
  --border: rgb(215 215 215);
  --input: rgb(215 215 215);
  --ring: rgb(99 73 63);
  --chart-1: rgb(99 73 63);
  --chart-2: rgb(255 223 177);
  --chart-3: rgb(232 232 232);
  --chart-4: rgb(255 231 199);
  --chart-5: rgb(99 73 63);
  --sidebar: rgb(252 252 252);
  --sidebar-foreground: rgb(36 36 36);
  --sidebar-primary: rgb(53 53 53);
  --sidebar-primary-foreground: rgb(252 252 252);
  --sidebar-accent: rgb(248 248 248);
  --sidebar-accent-foreground: rgb(53 53 53);
  --sidebar-border: rgb(235 235 235);
  --sidebar-ring: rgb(180 180 180);

  --font-sans: 'Geist', 'Geist Fallback', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: "Geist", "Geist Fallback", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: "Geist Mono", "Geist Mono Fallback", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --radius: 0.5rem;
  
  --shadow-2xs: 0 1px 3px 0px rgb(0 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px rgb(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 1px 2px -1px rgb(0 0 0 / 0.10);
  --shadow: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 1px 2px -1px rgb(0 0 0 / 0.10);
  --shadow-md: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 2px 4px -1px rgb(0 0 0 / 0.10);
  --shadow-lg: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 4px 6px -1px rgb(0 0 0 / 0.10);
  --shadow-xl: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 8px 10px -1px rgb(0 0 0 / 0.10);
  --shadow-2xl: 0 1px 3px 0px rgb(0 0 0 / 0.25);
  
}

.dark {
  --background: rgb(18 18 18);
  --foreground: rgb(238 238 238);
  --card: rgb(24 24 24);
  --card-foreground: rgb(238 238 238);
  --popover: rgb(24 24 24);
  --popover-foreground: rgb(238 238 238);
  --primary: rgb(252 223 194);
  --primary-foreground: rgb(10 25 26);
  --secondary: rgb(58 49 40);
  --secondary-foreground: rgb(252 223 194);
  --muted: rgb(34 34 34);
  --muted-foreground: rgb(180 180 180);
  --accent: rgb(43 43 43);
  --accent-foreground: rgb(238 238 238);
  --destructive: rgb(229 80 50);
  --border: rgb(33 31 26);
  --input: rgb(72 72 72);
  --ring: rgb(252 223 194);
  --chart-1: rgb(252 223 194);
  --chart-2: rgb(58 49 40);
  --chart-3: rgb(43 43 43);
  --chart-4: rgb(66 57 48);
  --chart-5: rgb(252 223 194);
  --sidebar: rgb(24 24 29);
  --sidebar-foreground: rgb(245 245 245);
  --sidebar-primary: rgb(29 78 218);
  --sidebar-primary-foreground: rgb(255 255 255);
  --sidebar-accent: rgb(38 38 43);
  --sidebar-accent-foreground: rgb(245 245 245);
  --sidebar-border: rgb(38 38 43);
  --sidebar-ring: rgb(211 211 219);
  
  --shadow-2xs: 0 1px 3px 0px rgb(0 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px rgb(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 1px 2px -1px rgb(0 0 0 / 0.10);
  --shadow: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 1px 2px -1px rgb(0 0 0 / 0.10);
  --shadow-md: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 2px 4px -1px rgb(0 0 0 / 0.10);
  --shadow-lg: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 4px 6px -1px rgb(0 0 0 / 0.10);
  --shadow-xl: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 8px 10px -1px rgb(0 0 0 / 0.10);
  --shadow-2xl: 0 1px 3px 0px rgb(0 0 0 / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
@layer base {
  * {
    @apply border-border outline-ring/50;

  }
  body {
    @apply bg-background text-foreground;

  }

}
